@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --black: #070708;
  --btn-google: #1C1C1C;
  --bg-grey: #969990;
  --white-grey: #dbd8dd;
  --grey: #383938;
  --second-grey: #A0A0A0;
  --text: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  width: 90%;
  height: 65%;
  background-color: var(--black);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.image {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  width: 50%;
  margin: 0.7rem;
  border-radius: 16px;
  text-align: center;
}

.image-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  width: 100%;
  color: var(--white-grey);
}

.image-content p {
  margin-top: 1rem;
  color: var(--second-grey);
}

.form {
  margin: 1.5rem;
  color: var(--white-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
}
.form h1 {
  font-size: 1.5rem;
  color: var(--text);
  margin-bottom: 0.7rem;
}
.form h2{
  font-size: 0.8rem;
  color: var(--second-grey);
}
.btn {
  background-color: var(--grey);
  padding: 0.7rem;
  margin-top: 1rem;
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center;  
  border-radius: 0.5rem;   
}
.btn-google {
  background-color: var(--btn-google);
}
.btn-google svg {
  width: 20px;
  height: 20px;
  margin-right: 0.7rem;
  fill: var(--white-grey);
}

.transparent-bar {
  width: 100%;
  height: 2.5px;
  background-color: var(--btn-google);
  border-radius: 1rem;
  margin-top: 1rem;
}
.login-form input {
  background-color: var(--grey);
  padding: 0.7rem;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 0.7rem;
}